* {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --primary-bg-color: #8ee600;
    --primary-font-color: #8EE600;
    --secondary-font-color: #ffffff;
    --secondary-bg-color: #ffffff;
    --secondary-border-color: #ffff00df;
    --colored-bg: #f4ffe3;
    --white-colored-bg: #ffffff;
    --white-bg: #ffffff1;
    --font1: arial;
    --font-color3: #b5d383;
}

html{
    background-color: var(--secondary-bg-color);
}

body {
    min-height: 100vh;
}

.colored-bg {
    background-color: var(--colored-bg);
}
.white-colored-bg {
    background-color: var(--white-colored-bg);
}

.cont-headings {
    text-align: center;
    font-size: 2.5rem;
    padding: 60px 0;
    font-family: var(--font1);
    color: var(--primary-font-color);
    font-weight: 600;
}



/* ------------ Main Image Section ------------ */

#main-img {
    height: 75vh;
    background: url(../img/main.jpeg) no-repeat center center/cover;
    position: sticky;
    top: 0;
    z-index: -100;
}

#main-img-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: var(--secondary-font-color);
    font-family: var(--font1);
    font-weight: bold;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    text-shadow: 0 0 25px var(--secondary-font-color);
}

/* ------------ University Description Section ------------ */
.uni-desc{
    border-top: 3px solid var(--primary-bg-color);
    position: sticky;
    top: 0;
    z-index: -99;
}
#uni-desc-heading {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px 0;
    font-family: var(--font1);
    color: var(--primary-font-color);
    font-weight: 600;
}

#uni-desc {
    font-size: 1.5rem;
    font-family: var(--font1);
    padding: 0 50px 50px;
    text-align: center;

}

/* ------------ Chancellor Section ------------ */

#chancellor-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 3vh 0; */
    height: 37vh;
    background-color: var(--secondary-bg-color);
    /* border-top: 3px solid var(--primary-bg-color); */
    position: sticky;
    top: 0;
    z-index: -98;
}

#chancellor-img {
    height: 28vh;
    aspect-ratio: 1/1;
    border: 2px solid var(--primary-font-color);
    border-radius: 50%;
    background: url(../img/chancellor.jpg) no-repeat center center/cover;
}

#chancellor-desc {
    width: 75%;
    font-size: clamp(0.8rem, 2vw, 1.8rem);
    font-family: var(--font1);
    text-align: center;
    color: var(--primary-font-color);
    padding: 30px 0;
}

#chancellor {
    font-size: clamp(0.6rem, 2vw, 1.2rem);
    display: flex;
    justify-content: end;
    color: black;
    margin-top: 15px;
}

#chancellor-name {
    font-weight: bold;
    font-style: italic;
}

/* ------------ Courses We Provide Section ------------ */

#courses-main {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0 50px 4vh;
}

#courses-main a {
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: 600;
    /* transition: all 0.7s; */
}

.courses:hover {
    transition: all 0.4s;
    box-shadow: inset 0px 0px 20px 2px  #629f00;
}

.courses {
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.55rem;
    font-family: var(--font1);
    transition: all 0.4s;
    box-shadow: inset 0px 0px 10px transparent;
}

.seemore-bttn {
    text-align: center;
    padding-bottom: 23px;
}

.seemore-bttn a {
    text-decoration: none;
    color: var(--primary-font-color);
    padding: 12px 25px;
    padding: 12px 25px;
    font-size: 1.5rem;
    border-radius: 12px;
    font-family: var(--font1);
    border: 2px solid var(--primary-font-color);
    transition: all 0.4s;
}

.seemore-bttn a:hover{
    background-color: var(--primary-bg-color);
    color: var(--secondary-font-color);
}

/* ------------ Highlights Section ------------ */

.highlights-section{
    background-color: var(--secondary-bg-color);
    /* position: sticky;
    top: 0;
    z-index: -96; */
}

#highlights-main {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 17%);
    padding: 0 50px 4vh;
    padding-bottom: 50px;
}

.highlights{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.55rem;
    font-family: var(--font1);
    background-color: var(--colored-bg);
    transition: all 0.4s;
    box-shadow: inset 0px 0px 10px transparent;
}

.white-bg {
    background-color: white;
}

.highlights-main{
    font-size: 2.5rem;
    color: var(--primary-font-color);
    font-family: var(--font1);
    margin: 5px;
}

.highlight-desc{
    font-size: 1.2rem;
    color: var(--font-color3);
    text-align: center;
}

/* ------------ Student's Comment Section ------------ */

.std-cmmnt-section{
    /* background-color: var(--colored-bg); */
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#std-cmmnt-main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    /* padding: 0 50px; */
    gap: 5vw;
    padding-bottom: 50px;
    width: 90%;
    justify-content: center;
}

.std-img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
.std-desc{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    font-size: 1.3rem;
    font-family: var(--font1);
}

.std-names{
    margin: 10% 0;
    display: flex;
    justify-content: end;
    color: var(--primary-bg-color);
    font-weight: bold;
}

/* ------------ Teachers' Comment Section ------------ */

.teacher-cmmnt-section{
    /* background-color: var(--white-colored-bg); */
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#teacher-cmmnt-main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    /* padding: 0 50px; */
    gap: 5vw;
    padding-bottom: 50px;
    width: 90%;
    justify-content: center;
}

.cmmnt-cont{
    height: 100%;
    width: 100%;
    /* background-color: var(--colored-bg); */
    border-radius: 5%;
    display: flex;
    min-height: 30vh;
}

.teacher-img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
.teacher-desc{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    font-size: 1.3rem;
    font-family: var(--font1);
}

.teacher-names{
    margin: 10% 0;
    display: flex;
    justify-content: end;
    color: var(--primary-bg-color);
    font-weight: bold;
}

#std1{
    background: url(../img/std1.jpg) no-repeat center center/cover;
}
#std2{
    background: url(../img/std2.jpg) no-repeat center center/cover;
}
#std3{
    background: url(../img/std3.jpg) no-repeat center center/cover;
}
#std4{
    background: url(../img/std4.jpg) no-repeat center center/cover;
}

#teacher1{
    background: url(../img/tcr1.jpg) no-repeat center center/cover;
}
#teacher2{
    background: url(../img/tcr2.jpg) no-repeat center center/cover;
}
#teacher3{
    background: url(../img/tcr3.jpg) no-repeat center center/cover;
}
#teacher4{
    background: url(../img/tcr4.jpg) no-repeat center center/cover;
}

/* --------- Footer Section --------- */